/* TitleBar.css */

.hoverable:hover {
  background-color: #ccc; /* Change the color to your desired hover effect */
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f5f5f5;
   /* This will hide the horizontal scrollbar */
}
